.input-texts{
    display: flex;
}
.input-texts input {    
    margin-top: 2vh;
    width: 25vw;
    height: 6vh;
}

.input-texts #seletor{
    display: flex;
    margin-top: 2vh;
    height: 6vh;
}

.input-texts .input-um{
    margin-right: 2vw;
}

.input-texts .input-cidade{
    width: 15vw;
}

.input-texts .input-dois{
    width: 15vw;
    margin-right: 2vw;
}
.bts{
    display: flex;
    flex-direction: row-reverse;
   
}
.bts .bt{
    margin: 10px;
}
